{% extends 'user/base.html' %}

{% block title %}
Styleit |post
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-3 mb-3"></div>
        <div class="col-md-4 mt-3 mb-3">
            <p id="msg">
                {% with m = get_flashed_messages(with_categories=true) %}
                    {% for c, i in m %}
                        {% if c == 'success' %}
                        <P class="alert alert-success fw-4">{{i}} </P>
                        {% elif c == 'warning' %}
                        <P class="alert alert-warning fw-4">{{i}} </P>
                        {% else %}
                        <P class="alert alert-danger fw-4">{{i}} </P>
                        {% endif %}
                    {% endfor %} 
                {% endwith %}
            </p>
                {#<div class="row">
                    <div class="col">
                        <span class="">
                            <h5>{{pst.post_title}}</h5>
                            <span>{{pst.post_date.strftime('%d-%m-%Y')}}</span>
                            <span>{{pst.post_body}}</span>
                        </span>
                    </div>
                </div>#}
            <div class="row">
                <div class="col mt-3 mb-3" id="contentrow">
                    <form action="{{url_for('image')}}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        {#<input type="hidden" name="postid" value="{{pst.post_id}}">#}
                        <div class="col-md-12">
                            <label for="name">Image Name</label>
                            <input type="text" name="name" id="imagename" placeholder="Image Name" required class="form-control mt-3 mb-3">
                        </div>
                        <div class="col-md-12 mt-3 mb-3">
                            <label>Images</label>
                            <input type="file" id="img" name="img" multiple="true" required class="form-control mt-3 mb-3">
                        </div>
                        <div class="col-md-i2">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" id="upload" class="btn btn-primary mb-3 mt-3"> Upload & Submit</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3 mb-3"></div>
    </div>
</div>
{% endblock %}