{% extends 'user/base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5 class="bg-dark text-light p-2 mt-2 mb-2">You are about to submit {{bk.custbaobj.cust_fname}}'s job for approval and payment.</h5>
            <form action="{{url_for('complete_task', id=bk.ba_id)}}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="custid" value="{{bk.ba_custid}}">
                <label class="mt-2 mb-2">Job Status:</label>
                <select name="lev" class="form-control mt-2 mb-2">
                    <option class="form-control mt-2 mb-2" value="not done"> Not Done </option>
                    <option class="form-control mt-2 mb-2" value="completed"> Completed & Delivered </option>
                </select>
                <label class="mt-2 mb-2">Image:</label>
                <input type="file" name="pic" class="form-control mt-2 mb-2">
                <button type="submit" class="form-control btn btn-danger mt-2 mb-2">Submit Your Job Now </button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}