{% extends 'user/base.html' %}

{% block title %}
Styleit | Signup
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6">
            {% with m = get_flashed_messages(with_categories=true) %}
                {% for c, i in m %}
                    {% if c == 'success' %}
                    <P class="alert alert-success fw-4">{{i}} </P>
                    {% elif c == 'warning' %}
                    <P class="alert alert-warning fw-4">{{i}} </P>
                    {% else %}
                    <P class="alert alert-danger fw-4">{{i}} </P>
                    {% endif %}
                {% endfor %} 
            {% endwith %}
            <form action="{{url_for('designerSignup')}}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="fname" placeholder="First Name" id="fname" class="form-control mt-3 mb-3" required>
                </div>
                <div class="col-md-6">
                    <input type="text" name="lname" placeholder="Last Name" id="lname" class="form-control mt-3 mb-3" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="emal" name="email" placeholder="jude65@gmail.com" id="email" class="form-control mt-3 mb-3" required>
                </div>
                <div class="col-md-6">
                    <input type="text" name="phone" placeholder="Phone Number" id="phone" class="form-control mt-3 mb-3" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="password" name="pwd" placeholder="Password" id="lname" class="form-control mt-3 mb-3" required>
                </div>
                <div class="col-md-6">
                    <input type="password" name="cpwd" placeholder="Confirm Password" id="cpwd" class="form-control mt-3 mb-3" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="busname" placeholder="Business Name" id="busname" class="form-control mt-3 mb-3" required>
                </div>
                <div class="col-md-6">
                    <input type="text" name="address" placeholder="Contact Address" id="address" class="form-control mt-3 mb-3" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <select name="state" id="state" class="form-control" required>
                        <option value="">Choose State</option>
                        {% for m in state %}
                        <option value="{{m.state_id}}">{{m.state_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control" name="lga" id="lga" required>
                        <option value="">Choose L.G.A</option>
                    </select>
                </div>
            </div>
            <div>
                <input type="radio" name="gender" value="male" id="male" class="form-check-input mt-3 mb-3" required>
                <label for="male" class="form-check-label mt-2 mb-3" required>Male</label>
                <input type="radio" name="gender" value="female" id="female" class="form-check-input mt-3 mb-3" required>
                <label for="female" class="form-check-label mt-2 mb-3" required>Female</label>
                
            </div>
            <div>
                <input type="file" name="pic" id="pic" class="form-control mt-3 mb-3" required>
            </div>
            <div>
                <input type="checkbox" name="agree" id="agree" class="form-check-input mt-3 mb-3" required>
                <label for="agree" class="mt-2 mb-3" required>I agreed to the terms and conditions of website </label>
            </div>
           <div>
               <button type="submit" id="btn" class="btn btn-outline-danger mt-3 mb-3 form-control" disabled>Sign Up</button>
               <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            </div>
           <span>Exiting user <a href="{{url_for('designerLogin')}}" class="btn btn-outline-success mt-3 mb-3"> Login</a> here</span>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}