{%extends 'user/base.html' %}

{% block title %}
Styleit|Forgotten Password
{% endblock %}

{% block content %}
<div class="containder-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="POST" action="{{url_for('designerforgottenpass')}}">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div class="mt-3 mb-3">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email address">
                    </div>
                    <div class="mt-3 mb-3">
                        <input type="text" name="businessname" id="businessname" class="form-control" placeholder="Business Name">
                    </div>
                    <div class="mt-3 mb-3">
                        <input type="password" name="pwd" id="pwd" class="form-control" placeholder="New Password">
                    </div>
                    <div class="mt-3 mb-3">
                        <input type="password" name="cpwd" id="cpwd" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="mt-3 mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endblock %}