{% extends 'user/base.html' %}

{% block title %}
Styleit |post
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-3 mb-3"></div>
        <div class="col-md-4 mt-3 mb-3">
            <p id="msg">{% with m = get_flashed_messages() %}
                {% for i in m %}
                <span class="fw-4">{{i}}</span>
                {% endfor %}
                {% endwith %}</p>
            <div class="row">
                <div class="col mt-3 mb-3" id="imgrow">
                    <legend>
                        <form action="{{url_for('posting')}}" method="POST">
                            <div class="col-md-12">
                                <label for="title">Post Title</label>
                                <input type="text" name="title" placeholder="Post Title" class="form-control mt-3 mb-3" required>
                            </div>
                            <div class="col-md-12">
                                <label for="body">Post Body</label>
                                <textarea cols="10" rows="10" name="body" class="form-control mt-3 mb-3" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                                        <button type="submit" class="btn btn-primary form-control mt-3 mb-3">Post</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </lengend>
                </div>
            </div>

            
        </div>
        <div class="col-md-4 mt-3 mb-3"></div>
    </div>
</div>
{% endblock %}