<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Subscription Activation</title>
  </head>
  <body>
    <p>Hi,</p>
    <p>{{ comment.desilikesobj.desi_businessName }} your subscription  of "{{ comment.sub_plan }}" have been activated.</p>
    {#<p>Here's the comment:</p>
    <blockquote>{{ comment.desilikesobj.desi_businessName }}</blockquote>#}
    <p>You can view your subscription below:</p>
    <p><a href="{{ url_for('subscription') }}">{{ Subscription Details }}</a></p>
    <p>Thanks,</p>
    <p>Styleit HQ</p>
    <section class="footer">
        <p>Follow us on all social platforms</p>
        <span class="card-text fs-1 me-3"><a href="https://www.facebook.com/styleithq/"><i class="fab fa-facebook"></i></a></span>
        <span class="card-text fs-1 me-3"><a href="https://www.twitter.com/styleithq/"><i class="fab fa-twitter"></i></a></span>
        <span class="card-text fs-1 me-3"><a href="https://www.linkedin.com/in/styleithq/"><i class="fab fa-linkedin"></i></a></span>
        <span class="card-text fs-1 me-3"><a href="https://www.instagram.com/styleithq/"><i class="fab fa-instagram"></i></a></span>
    </section>
  </body>
</html>