{% extends 'user/base.html' %}
{% block title %}
Styleit | subscribe
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-3 mb-43">
            <form action="{{url_for('subscribe')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <select name="plan" class="form-control mt-3 mb-3">
                    <option value="500">Monthly Plan</option>
                    <option value="1350">Quarterly Plan</option>
                    <option value="2400">Half Year Plan</option>
                    <option value="4200">Yearly Plan</option>
                </select>
                <button type="submit" class="btn btn-success form-control mt-3 mb-3"> Subscribe Now</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}