<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta content="5"; url="http://127.0.0.1:8080/trending/" http-equiv="refresh"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- External stylesheet-->
		<link href="{{url_for('static', filename='css/styleit.css')}}" rel="stylesheet" type="text/css">
    <!-- Share on cdn -->
    <link href="https://cdn.jsdelivr.net/npm/shareon@2/dist/shareon.min.css" rel="stylesheet">
		<!-- bootstrap -->
		<link href="{{url_for('static', filename='css/css/bootstrap.css')}}" rel="stylesheet" type="text/css">

		<!-- metas-->
		<meta charset="utf-8">
		<meta name="description" content="styleit your No1 fashion hub in Nigeria">
		<meta name="author" content="styleit.com">
		<meta name="keywords" content="styleit, best fashion but in Nigeria, tailor, fashion, fashionista, owanbe, ceremonies, african styles, international styles, designer, suit wears, female dress, male wears, agbada, buba, sokoto, abaya">
		
		<!--facebook meta integration-->
		<meta property="og:styleit.com" content="Hola Cakes your No1 cake shop in Nigeria"/>
		<meta property="og:www.styleit.com/home" content="website"/>
		<meta property="og:image" content="images/ceo.jpg"/>
		<meta property="og:image-width" content="400"/>
		<meta property="og:image-height" content="300"/>
		<meta property="og:locale:alternative" content="fr_FR"/>
		<meta property="og:url" content="www.styleit.com"/>
		
		<!-- twitter meta integeration-->
		<meta name="twitter.www.styleit.com" content="@holacakes"/>
		<meta name="twitter.title" content="@styleit"/>
		<meta name="twitter.card" content="styleit is your No1 fashion hub in Nigeria"/>
		<meta name="twitter.description" content="Styleit your No1 cake shop in Nigeria where yu can get high quality salivating designer wears for your next occasion"/>
		<meta name="twitter.url" content="www.styleit.com"/>

		<!-- font awesome -->
		<link href="{{url_for('static', filename='fa/css/all.min.css')}}" rel="stylesheet">


		<!-- jquery animation-->
		<link href="{{url_for('static', filename='css/css/animate.min.css')}}" rel="stylesheet">

		<!-- internal stylesheet-->
		<style type="text/css">
			
		
		</style>
    
</head>

<body id="body">
    <!-- header section -->
<div class="container-fluid">
    <div class="container-fluid" id="header">
        <header>
            <div class="row">
                <div class="col-md-2 mt-5 mb-5" id="logo">
                    <h1 id="logoname">Styleit</h1>
                </div>
                <div class="col-md-10 mt-5 b-5" id="banner">
                    <img src="{{url_for('static', filename='images/girl.jpg')}}" alt="girl fashion" width="100%" height="200">
                </div>
            </div>
        </header>
    </div>
</div>
<div class="container-fluid sticky-top">
  <!-- navigation section -->
  <div class="row mt-2" id="navi">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if session.get('customer') != None: %}
              <form class="d-flex" id="search" method="POST" action="{{url_for('search')}}">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <button class="btn btn-outline-success me-2" type="submit">Search</button>
                <input class="form-control" type="search" name="search" placeholder="Post search" aria-label="Search">
              </form>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('trending')}}">Trending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('designers')}}">Creators</a>
              </li>
              {% elif session.get('designer') != None: %}
              <form class="d-flex" id="search" method="POST" action="{{url_for('search')}}">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <button class="btn btn-outline-success me-2" type="submit">Search</button>
                <input class="form-control" type="search" name="search" placeholder="Post search" aria-label="Search">
              </form>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('trending')}}">Trending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('designers')}}">Creators</a>
              </li>
              {% endif %}
              </ul>
              
              <ul class="navbar-nav">
                {% if session.get('customer') != None and cus.cust_status=='actived' %}
                {#<li class="nav-item">
                  <a class="nav-link" href="#">Welcome! <img src="/static/images/profile/customer/{{cus.cust_pic}}" alt="{{cus.cust_fname}}" width="25px" class="img rounded-circle">{{cus.cust_fname}}</a>
                </li>#}
                <li class="nav-item">
                  {% if noti|length > 0 %}
                  <i class="fa-solid fa-bell nav-link generalface2" id="notif" style="display: block; position:relative"><sup class="supnoti" >{{noti|length}}</sup></i>
                  <div style="display:none; position:absolute; background-color: whitesmoke; padding:10px; margin:auto;" id="note">
                    {% for nt in noti %}
                    {% if cus.cust_id %}
                      {% if nt.notifypostobj or nt.notifylikeobj or nt.notifycomobj or nt.notifyshareobj or nt.notifybaobj or  nt.notifysubobj or nt.notifypayobj %}
                        <span style="padding:2px; margin:auto;"> 
                          {% if nt.notify_postid and nt.notify_custid==cus.cust_id %}
                          <a href="/posti/{{nt.notifypostobj.post_id}}"><span id="com4" data-value="{{nt.notify_postid}}" style="padding:auto; margin:auto; text-align:left;" >You commented on a post</span></a>
                          {% endif %}

                          {% if nt.notify_likeid and nt.notify_custid==cus.cust_id %}
                            <a href="/postlike/{{nt.notifylikeobj.like_id}}" id="lik1"><span id="{{nt.notify_likeid}}" >You like a post</span></a>
                          {% endif %} 

                          {% if nt.notify_comid and nt.notify_custid==cus.cust_id %}
                            <a href="/postreply/{{nt.notifycomobj.com_id}}" id="pin2"><span id="{{nt.notify_comid}}" >You reply to a comment</span></a>
                          {% endif %}

                          {% if nt.notify_comid and nt.notify_custid != cus.cust_id %}
                            {% if nt.notifydesiobj %}
                            <a href="/postreply/{{nt.notifycomobj.com_id}}" id="pin13"><span id="{{nt.notify_comid}}">{{ nt.notifydesiobj.desi_fname }} reply to your comment</span></a>
                            {% elif nt.notifycustobj %}
                            <a href="/postreply/{{nt.notifycomobj.com_id}}" id="pin3"><span id="{{nt.notify_comid}}">{{ nt.notifycustobj.cust_fname }} reply to your comment</span></a>
                            {% endif %}
                          {% endif %}

                          {% if nt.notify_shareid and nt.notify_custid==cus.cust_id %}
                            <a href="/postshare/{{nt.notifyshareobj.share_id}}" id="pin4"><span id="{{nt.notify_shareid}}" >You shared a post</span></a>
                          {% endif %} 

                          {% if nt.notify_baid and nt.notify_custid==cus.cust_id %}
                          <a href="/bookapp/{{nt.notifybaobj.ba_id}}/" id="pin5"><span id="{{nt.notify_baid}}" >You have booked an appointment with {{nt.notifybaobj .desibaobj.desi_businessName}}</span></a>
                          {% endif %}
                        </span><br>
                      {% endif %}
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% else %}
                  <i class="fa-solid fa-bell generalface2" id="notif"></i>
                  {% endif %}
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('customerProfile')}}"><img src="/static/images/profile/customer/{{cus.cust_pic}}" alt="{{cus.cust_fname}}" width="25px" class="img rounded-circle"> {{cus.cust_fname}}</a>
                </li>
                {% elif session.get('designer') != None and des.desi_status=='actived': %}
                {#<li class="nav-item">
                  <a class="nav-link" href="#">Welcome! <img src="/static/images/profile/designer/{{des.desi_pic}}" alt="{{des.desi_fname}}" width="25px" class="img rounded-circle"> {{des.desi_fname}}</a>
                </li>#}
                <li class="nav-item">
                  {% if noti|length > 0 %}
                  <i class="fa-solid fa-bell nav-link generalface2" id="notif" style="display: block; position:relative"><sup class="supnoti">{{noti|length}}</sup></i>
                  <div style="display:none; position:absolute; background-color:whitesmoke; padding:10px; margin:auto;" id="note">
                    {% for nt in noti %}
                    {% if des.desi_id %}
                      {% if nt.notifypostobj or nt.notifylikeobj or nt.notifycomobj or nt.notifyshareobj or nt.notifybaobj or  nt.notifysubobj or nt.notifypayobj %}
                        <span style="padding:2px; margin:auto;">
                          {% if nt.notify_postid and nt.notify_desiid == des.desi_id %}
                          <a href="/posti/{{nt.notifypostobj.post_id}}"><span id="com1" data-value="{{nt.notify_postid}}" style="padding:auto; margin:auto; text-align:left;" >You comment on your post</span></a>
                          {% endif %}

                          {% if nt.notify_postid %}
                            {% if nt.notifydesiobj and nt.notify_desiid != des.desi_id %} 
                            <a href="/posti/{{nt.notifypostobj.post_id}}" ><span id="com2" data-value="{{nt.notify_postid}}" style="padding:auto; margin:auto; text-align:left;" >{{ nt.notifydesiobj.desi_fname }} comment on your post</span></a>
                            {% elif nt.notifycustobj %} 
                            <a href="/posti/{{nt.notifypostobj.post_id}}"><span id="com3" data-value="{{nt.notify_postid}}" style="padding:auto; margin:auto; text-align:left;" id="posid3" value="{{nt.notify_postid}}">{{ nt.notifycustobj.cust_fname }} comment on your post</span></a>
                            {% endif %} 
                          {% endif %}

                          {% if nt.notify_likeid and nt.notify_desiid==des.desi_id %}
                          <a href="/postlike/{{nt.notifylikeobj.like_id}}"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_likeid}}" value="{{nt.notify_likeid}}">You like your post</span></a>
                          {% endif %}

                          {% if nt.notify_likeid and nt.notify_desiid != des.desi_id %}
                            {% if nt.notifydesiobj %}
                            <a href="/postlike/{{nt.notifylikeobj.like_id}}"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_likeid}}" value="{{nt.notify_likeid}}">{{ nt.notifydesiobj.desi_fname }} liked your post</span></a>
                            {% elif nt.notifycustobj %}
                            <a href="/postlike/{{nt.notifylikeobj.like_id}}"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_likeid}}" value="{{nt.notify_likeid}}">{{ nt.notifycustobj.cust_fname }} liked your post</span></a>
                            {% endif %} 
                          {% endif %}

                          {% if nt.notify_comid and nt.notify_desiid==des.desi_id %}
                          <a href="/postreply/{{nt.notifycomobj.com_id}}" id="repcomi"><span style="padding:auto; margin:auto; text-align:left;" id="reep" data-value="{{nt.notify_comid}}">You reply to a comment in your post</span></a>
                          {% endif %}

                          {% if nt.notify_comid and nt.notify_desiid != des.desi_id %}
                            {% if nt.notifydesiobj %}
                            <a href="/postreply/{{nt.notifycomobj.com_id}}"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_comid}}" value="{{nt.notify_comid}}">{{ nt.notifydesiobj.desi_fname }} reply to your comment</span></a>
                            {% elif nt.notifycustobj %}
                            <a href="/postreply/{{nt.notifycomobj.com_id}}"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_comid}}" value="{{nt.notify_comid}}">{{ nt.notifycustobj.cust_fname }} reply to your comment</span></a>
                            {% endif %} 
                          {% endif %}
                          
                          {% if nt.notify_shareid and nt.notify_desiid==des.desi_id %}
                          <a href="/postshare/{{nt.notifyshareobj.share_id}}"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_shareid}}" value="{{nt.notify_shareid}}">You shared your post</span></a>
                          {% endif %}

                          {% if nt.notify_shareid and nt.notify_desiid != des.desi_id %}
                            {% if nt.notifydesiobj %}
                            <a href="/postshare/{{nt.notifyshareobj.share_id}}"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_shareid}}" value="{{nt.notify_shareid}}">{{ nt.notifydesiobj.desi_fname }} shared your post</span></a>
                            {% elif nt.notifycustobj %}
                            <a href="/postshare/{{nt.notifyshareobj.share_id}}"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_shareid}}" value="{{nt.notify_shareid}}">{{ nt.notifycustobj.cust_fname }} shared your post</span></a>
                            {% endif %}
                          {% endif %}

                          {% if nt.notify_baid and nt.notify_desiid==des.desi_id %}
                          <a href="/bookapp/{{nt.notifybaobj.ba_id}}/"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_baid}}" value="{{nt.notify_baid}}">{{nt.notifybaobj.custbaobj.cust_fname}} sent you a booking appointment</span></a>
                          {% endif %}

                          {% if nt.notify_subid and nt.notify_desiid==des.desi_id and nt.notifysubobj.sub_status=="active" %}
                          <a href="/notesub/{{nt.notifysubobj.sub_id}}/"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_subid}}" value="{{nt.notify_subid}}">You have subscribed to a 
                              {% if nt.notifysubobj.sub_plan=="500" %}
                              monthly
                              {% elif nt.notifysubobj.sub_plan=="1350" %}
                              3 months
                              {% elif nt.notifysubobj.sub_plan=="2400" %}
                              6 month
                              {% elif nt.notifysubobj.sub_plan=="4200" %}
                              yearly
                              {% endif %}
                              plan</span></a>
                          {% else %}
                            {% if nt.notify_desiid==des.desi_id and nt.notifysubobj.sub_status=="active" %}
                            <a href="/notesub/{{nt.notifysubobj.sub_id}}/"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_subid}}" value="{{nt.notify_subid}}">Your subscribed plan has expired</span></a>
                            {% endif %} 
                          {% endif %}

                          {% if nt.notify_paymentid and nt.notify_desiid==des.desi_id %}
                            {% if nt.notifypayobj.payment_status == 'paid' %}
                            <a href="/notepay/{{nt.notifypayobj.payment_id}}/"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_paymentid}}" value="{{nt.notify_paymentid}}">Your payment is successful</span></a>
                            {% elif nt.notifypayobj.payment_status == 'failed' %}
                            <a href="/notepay/{{nt.notifypayobj.payment_id}}/"><span style="padding:auto; margin:auto; text-align:left;" id="{{nt.notify_paymentid}}" value="{{nt.notify_paymentid}}">Your payment is unsuccessful</span></a>
                            {% endif %}
                          {% endif %}
                        </span><br>
                      {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>
                  {% else %}
                  <i class="fa-solid fa-bell generalface2" id="notif" style="display:block; position:relative"></i>
                  {% endif %}
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('designerProfile')}}"><img src="/static/images/profile/designer/{{des.desi_pic}}" alt="{{des.desi_fname}}" width="25px" class="img rounded-circle">{{des.desi_fname}}</a>
                </li>
                {% else %}
                  {% if session.get('customer') != None %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('unconfirmed')}}">Confirm Account</a>
                  </li>
                  {% elif session.get('designer') != None %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('unconfirmed')}}">Confirm Account</a>
                    </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    </li>
                  {% endif %}
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
  </div>
</div>  

{% block content %}


{% endblock %}

    <!-- footer section -->
  <div class="container-fluid" id="footer">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 text-center" id="socials">
            <p class="text-center text-dark generalface2 mt-2"><b><i>Connect</i></b><hr></p>
            <span class="card-text fs-1 me-3"><a href="https://www.facebook.com/styleithq/"><i class="fab fa-facebook"></i></a></span>
            <span class="card-text fs-1 me-3"><a href="https://www.twitter.com/styleithq/"><i class="fab fa-twitter"></i></a></span>
            <span class="card-text fs-1 me-3"><a href="https://www.linkedin.com/in/styleithq/"><i class="fab fa-linkedin"></i></a></span>
            <span class="card-text fs-1 me-3"><a href="https://www.instagram.com/styleithq/"><i class="fab fa-instagram"></i></a></span>
          </div>
  
          <div class="col-md-3" id="quicklinks">
            <p class="text-center text-dark generalface2 mt-2"><b><i>Quick Links</i></b><hr></p>
            <span class="card-text me-3"><a href="mailto:support@styleit.com?">Support</a></span>
            <span class="card-text me-3"><a href="mailto:contact@styleit.com?">Contact</a></span>
            <span class="card-text me-3"><a href="mailto:help@styleit.com?">Help</a></span>
          </div>
  
          <div class="col-md-3" id="subscribe">
            <p class=" text-center text-dark generalface2 mt-2"><b><i>Subscribe to our newsletter</i></b><hr></p>
            <span id="output"></span>
            <form method="POST" action="{{url_for('newsletter')}}">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
              <input type="text" class="form-control mt-3 mb-3" id="newsname" name="name" placeholder="Fullname">
              <input type="email" class="form-control mt-3 mb-3" id="newsmail" name="email" placeholder="E-mail">
              <span class="btn btn-success form-control mt-3 mb-3" id="newsbtn" >Subscribe Now</span>
            </form>
          </div>
  
          <div class="col-md-3" id="locations">
            <p class="text-center text-dark generalface2 mt-2"><b><i>Locations</i></b><hr></p>
            <span class="card-text"><b>Address:</b></span><br>
            <span class="card-text">10, Adegbola Street, Alakuko, Lagos State</span><br>
            <span class="card-text"><b>Email:</b> support@styleit.com</span><br>
            <span class="card-text"><b>Tel:</b>+2348087658590</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-end generalface2 bg-danger p-2" style="font-size: 9px;">
            <span><i>Designed by: AdemolaCode (Mr. Indelible) &copy; 2022 </i></span>
        </div>
    </div>

    <footer>
      <!-- jquery -->
        <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
        <!-- bootstrap js bundle -->
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <!-- share on js bundle -->
        <script src="https://cdn.jsdelivr.net/npm/shareon@2/dist/shareon.iife.js" defer init></script>
        <!-- socketio js bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>

        <!-- js script -->
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
             $('#state').change(function(){
                 var stateid = $(this).val()
                 var csrf = "{{ csrf_token() }}"
                 data2send = {"stateid":stateid, "csrf_token":csrf}
 
                 ///make ajax call
                 $.ajax({
                     url:"/load/lga/",
                     data:data2send,
                     type:'post',
                     success:function(msg){
                     $('#lga').html(msg)
                     }
                 });
             });
             
             //activating signup
             $('#agree').click(function(){
               var dis = $(this).prop('checked')
               if(dis == false){
                 $('#btn').attr('disabled', 'disabled')
               }else{
                $('#btn').removeAttr('disabled')
               }
             });

             
             //switching profile picture 
             $('#profiletoggler').click(function(){
               $('#divbody').toggleClass('col-md-9')
              });

            
              // share buttons
              $('#facebook').click(function(){
                $('#shareon').css("display", "none");
                $('#share').css("display", "block");
                var name="facebook";
                var sharepost=$("#sharepost").val();
                var user=$("#user").val();
                var csrf = "{{ csrf_token() }}";
                data2send = {"name":name, "csrf_token":csrf, "sharepost":sharepost, "user":user}
                 //Ajax call
                 $.ajax({
                     url:"/share/",
                     data:data2send,
                     type:'POST',
                     success:function(msg){
                     console.log(msg);
                     $('#share').load(location.href + " #share")
                     }
                  });
              });

              $('#linkedin').click(function(){
                $('#shareon').css("display", "none")
                $('#share').css("display", "block")
                var name="linkedin"
                var sharepost=$("#sharepost").val();
                var user=$("#user").val();
                var csrf = "{{ csrf_token() }}";
                data2send = {"name":name, "csrf_token":csrf, "sharepost":sharepost, "user":user}
                 //Ajax call
                 $.ajax({
                     url:"/share/",
                     data:data2send,
                     type:'POST',
                     success:function(msg){
                     console.log(msg);
                     $('#share').load(location.href + " #share")
                     }
                  });
              });

              $('#telegram').click(function(){
                $('#shareon').css("display", "none")
                $('#share').css("display", "block")
                var name="telegram"
                var sharepost=$("#sharepost").val();
                var user=$("#user").val();
                var csrf = "{{ csrf_token() }}";
                data2send = {"name":name, "csrf_token":csrf, "sharepost":sharepost, "user":user}
                 //Ajax call
                 $.ajax({
                     url:"/share/",
                     data:data2send,
                     type:'POST',
                     success:function(msg){
                     console.log(msg);
                     $('#share').load(location.href + " #share")
                     }
                  });
              });

              $('#twitter').click(function(){
                $('#shareon').css("display", "none")
                $('#share').css("display", "block")
                var name="twitter"
                var sharepost=$("#sharepost").val();
                var user=$("#user").val();
                var csrf = "{{ csrf_token() }}";
                data2send = {"name":name, "csrf_token":csrf, "sharepost":sharepost, "user":user}
                 //Ajax call
                 $.ajax({
                     url:"/share/",
                     data:data2send,
                     type:'POST',
                     success:function(msg){
                     console.log(msg);
                     $('#share').load(location.href + " #share")
                     }
                  });
              });
              
              //post trash by creator section
              $('#trashit').click(function(){
                var potid = $('#potid').val();
                var csrf = "{{ csrf_token() }}";
                data3send = {"postid":potid, "csrf_token":csrf}
                $.ajax({
                  url:'/trashit/',
                  data:data3send,
                  type:'POST',
                  success:function(msg){
                    console.log(msg);
                    location.reload(true);
                  }
                });
               }); 
              
               //newsletter section
              $('#newsbtn').click(function(){
                var newsname=$('#newsname').val();
                var newsmail=$('#newsmail').val();
                var csrf="{{ csrf_token() }}";
                data={"name":newsname, "email":newsmail, "csrf_token":csrf}
                $.ajax({
                  url:'/newsletter/',
                  data:data,
                  type:"POST",
                  success:function(msg){
                    console.log(msg)
                    $('#output').html(msg)
                  }
                });
              });

              

          });


//window scroll to load more post 

// var offset = 0;
var loading = false;

// {#$(window).scroll(function() {
//     if($(window).scrollTop() == $(document).height() - $(window).height()) {
//         if(!loading) {
//             loading = true;
//             offset += 10;
//             $.get('/trending?offset=' + offset, function(data) {
//                 if(data.trim().length == 0) {
//                     // no more data to load
//                 } else {
//                     $('.post').append(data);
//                     loading = false;
//                 }
//             });
//         }
//     }
// });#}

// {#$("#post-list").on("scroll", function() {
//   var element = $(this);
//   if (element.scrollTop() + element.innerHeight() >= element[0].scrollHeight) {
//     if (!loading) {
//       loading = true;
//       offset += 10;
//       $.get("/trending?offset=" + offset, function(data) {
//         if (data.trim().length == 0) {
//           alert('No more data to load')
//         } else {
//           console.log(data)
//           $('.post').append(data);
//           loading = false;
//         }
//       });
//     }
//   }
// });#}

$(window).scroll(function() {
  if($(window).scrollTop() == $(document).height() - $(window).height()){
    if (!loading) {
      loading = true;
      var page = $(this).data('page');
      $.get('/trending?page=' + page, function(data) {
        if(data.trim().length==0){
          alert('No more data to load')
        }else{
          var posts = $(data).find('.post');
          $('.post').append(posts);
        };
      });
    }
  };
  
});



//Javascript to change multiple divs
          function divchange(){
                document.getElementById("Sameprofile").style.display='block';
                document.getElementById("Samelike").style.display='none';
                document.getElementById("Sameunlike").style.display='none';
                document.getElementById("editprofile").style.display='none';
                document.getElementById('task').style.display='none';
            };
            function divchange2(){
                document.getElementById("Sameprofile").style.display='none';
                document.getElementById("Samelike").style.display='block';
                document.getElementById("Sameunlike").style.display='none';
                document.getElementById("editprofile").style.display='none';
                document.getElementById('task').style.display='none';
            };
            function divchange3(){
                document.getElementById("Sameprofile").style.display='none';
                document.getElementById("Samelike").style.display='none';
                document.getElementById("Sameunlike").style.display='block';
                document.getElementById("editprofile").style.display='none';
                document.getElementById('task').style.display='none';
            };
            function divchange4(){
              document.getElementById("editprofile").style.display='block';
                document.getElementById("Sameprofile").style.display='none';
                document.getElementById("Samelike").style.display='none';
                document.getElementById("Sameunlike").style.display='none';
                document.getElementById('task').style.display='none';
            };            
            function divchange5(){
                document.getElementById("Sameprofile").style.display='none';
                document.getElementById("Samelike").style.display='none';
                document.getElementById("Sameunlike").style.display='none';
                document.getElementById("editprofile").style.display='none';
                document.getElementById('task').style.display='block';
            };

            //reply function            
            function reply(id){
              var rep=document.getElementById(id)
              if(rep.style.display==='block'){
                rep.style.display='none';
              }else{
                rep.style.display='block';
              };
            };

            // designer delete display
            var dots = document.getElementById('3dot');
            var trashi = document.getElementById('trashi');
            var trashit = document.getElementById('trashit');
            if (trashit !==null){
              trashi.addEventListener("click", function() {
              dots.style.display = dots.style.display === 'none' ? 'block' : 'none';
            });
            }
            

            // share function
            function share(){
              document.getElementById('shareon').style.display='block';
              document.getElementById('share').style.display='none';
            };


            // notification toggle
            const noti=document.getElementById('notif');
            if (noti !==null){
              noti.addEventListener('click', (event)=>{
              var displayelement = document.getElementById('note');
              if (displayelement.style.display==='none'){
                displayelement.style.display='block';
                var hideelement = document.getElementById('note');
                if (hideelement){
                  hideelement.addEventListener('mouseleave', function(event){
                    noti.style.display='block';
                    displayelement.style.display='none';
                    });                  
                  };
                }else{
                  displayelement.style.display='none';
                  document.getElementById('notif').style.display='block';
                };
              });
            };
            

            //text complaint area
            const textarea1 = document.getElementById('textarea');
            if (textarea1 !== null){
              textarea1.addEventListener('input', function(){
              if (this.value.length > this.maxLength){
                this.value = this.value.slice(0, this.maxLength);
              }
            });
            };
            

            //currency digit validation
            const acno = document.getElementById('acno');
            if (acno !==null){
              acno.addEventListener('input', function() {
              if (this.value.length > this.maxLength) {
                this.value = this.value.slice(0, this.maxLength);
              }
            });
            };

            
            
            
      </script>
    </footer>
  </div>
  <!-- footer ends -->
</body>
</html>