{% extends 'user/base.html' %}

{% block title %}
confirm_delivery
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="{{url_for('confirm_delivery', id=jb.jb_baid)}}" method="POST" enctype="multipart/form-data">
                <h3>Kindly confirm your job have been delivered</h3>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="desiid" value="{{jb.jb_desiid}}">
                <input type="hidden" name="custstatus" value="collected">
                <a href="/static/images/completed_task/{{jb.jb_pic}}/"> <img src="/static/images/completed_task/{{jb.jb_pic}}/" alt="jb.jb_id" class="img-fluid mt-3 mb-3"></a>
                <button type="submit" class="btn btn-outline-danger mt-3 mb-3">Confirm Collection</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}