{% extends 'user/base.html' %}

{% block title %}
Styleit | Comfirm payment
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <span>
                {% with m = get_flashed_messages(with_categories=true) %}
                    {% for c, i in m %}
                        {% if c == 'success' %}
                        <P class="alert alert-success fw-4">{{i}} </P>
                        {% elif c == 'warning' %}
                        <P class="alert alert-warning fw-4">{{i}} </P>
                        {% else %}
                        <P class="alert alert-danger fw-4">{{i}} </P>
                        {% endif %}
                    {% endfor %} 
                {% endwith %}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-3 mb-3">
            <form method="POST" action="{{url_for('confirm_custpayment', id=bk.ba_id)}}">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <label> Full Name:</label>
            <p>{{pymt.custtpayobj.cust_fname}} {{pymt.custtpayobj.cust_lname}}</p>
            <label>Business Name: </label>
            <p>{{pymt.desitpayobj.desi_businessName}}</p>
            <label>Payment Date</label>
            <p>{{pymt.tpay_transdate}}</p>
            <label>Payment Refrence No</label>
            <p>{{pymt.tpay_transNo}}</p>
            {% if pymt.tpay_currencyicon=='NGN' %}
            <label>Amount Paid </label>
            <p>{{pymt.tpay_currencyicon}} {{pymt.tpay_amount}}</p>
            {% else %}
            <label>Amount Paid </label>
            <p>{{pymt.tpay_currencyicon}} {{pymt.tpay_amount}}</p>
            {% endif %}
            <label>Payment Status</label>
            <p>{{pymt.tpay_status}}</p> 
            <button type="submit" class="form-control mt-3 mb-3 btn btn-danger"> Confirm Payment </button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}