{% extends 'user/base.html' %}

{% block title %}
Styleit|Login
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center mt-3 mb-3">
                <img src="{{url_for('static', filename='images/customer.png')}}" class="img-fluid me-5" alt="customer pic" width="406"> 
            </div>
            <div class="col-md-4 mt-3 mb-3">
                <div class="row">
                    <div class="col">
                        {% with m = get_flashed_messages(with_categories=true) %}
                            {% for c, i in m %}
                                {% if c == 'success' %}
                                <P class="alert alert-success fw-4">{{i}} </P>
                                {% elif c == 'warning' %}
                                <P class="alert alert-warning fw-4">{{i}} </P>
                                {% else %}
                                <P class="alert alert-danger fw-4">{{i}} </P>
                                {% endif %}
                            {% endfor %} 
                        {% endwith %}
                        <form action="{{url_for('customerLogin')}}" method="POST" class="generalface2">
                            {{login.csrf_token()}}
                            <div>
                                {{login.email.label (style_="font-size: 12px;")}}
                                {% if login.email.errors %}
                                <span class='text-danger'>{{login.email.errors (style_="font-size: 11px;")}}</span>
                                {% endif %}
                                {{login.email (class_="form-control mt-3 mb-3", placeholder="Ademolacode65@gmail.com", style_="font-size: 11px;")}}
                            </div>
                            <div>
                                {{login.pwd.label (style_="font-size: 12px;")}}
                                {% if login.pwd.errors %}
                                <span class='text-danger'>{{login.pwd.errors (style_="font-size: 11px;")}}</span>
                                {% endif %}
                                {{login.pwd (class_="form-control mt-3 mb-3", placeholder="Password", style_="font-size: 11px;")}}
                            </div>
                            <div>
                                {{login.loginbtn (class_="form-control btn btn-outline-danger mt-3 mb-2", id="btn2", style_="font-size: 12px;")}}
                            </div>
                            <span class="me-3"><a href="{{url_for('customerforgottenpass')}}" style="font-size: 11px;"> Forgotten Password?</a></span><br>
                            <span style="font-size: 11px;">Don't have an account click signup to begin. <a href="{{url_for('customerSignup')}}" class="btn btn-outline-success mt-1 mb-2">Sign Up</a></span>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}