{% extends 'user/base.html' %}
{% block title %}
Styleit|Profile
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <span>{% with m = get_flashed_messages(with_categories=true) %}
            {% for c, i in m %}
                {% if c == 'success' %}
                <P class="alert alert-success fw-4">{{i}} </P>
                {% elif c == 'warning' %}
                <P class="alert alert-warning fw-4">{{i}} </P>
                {% else %}
                <P class="alert alert-danger fw-4">{{i}} </P>
                {% endif %}
            {% endfor %} 
        {% endwith %}</span>
        
        <div class="col-md-1" id="tog">
            <span id="profiletoggler" data-bs-toggle="collapse" data-bs-target="#profilewhole" class="toggler-icon" aria-expanded="false" ><img src="/static/images/profile/customer/{{cus.cust_pic}}" alt="{{cus.cust_fname}}" width="50px" class="img rounded-circle p-1"></span>
        </div>
        
        <div class="col-md-3 text-center"id="profile" onclick="divchange()">
            <span id="pro">Profile</span>
        </div>
        <div class="col-md-4 text-center" id="Liked" onclick="divchange2()">
            <span id="Lik">Liked Post</span>
        </div>
        <div class="col-md-4 text-center" id="Unliked" onclick="divchange3()">
            <span id="Unlik">Appointment Details</span>
        </div>
        
    </div>
        <div class="row">
            <div class="col-md-3 collapse generalface2" id="profilewhole">
                <div class="row" >
                    <div class="col-md-3 mb-2 mt-2" >
                        <img src="/static/images/profile/customer/{{cus.cust_pic}}" alt="{{cus.cust_fname}}" width="70px" class="p-1" id="profilediv">
                    </div>
                    <div class="col-md-9 mt-2 mb-2">
                        <h5 class="col-md-12 m-2 p-2 text-center" id="profilename">{{cus.cust_username}}</h5>
                        
                        {% if follow|length > 1 %}
                        <p class="text-center"><span class="mt-2 mb-2 text-light">{{ follow|length }} Following</span></p>
                        {% else %}
                        <p class="text-center"><span class="mt-2 mb-2 text-light">{{ follow|length }} Following</span></p>
                        {% endif %}

                        {% if cus.cust_status=='actived': %}
                        <span id="online" class="col-md-12 m-2 p-2"><i class="fa fa-user-alt"></i> <i>Online</i></span>
                        {% else %}
                        <span id="online2" class="col-md-12 m-2 p-2"><i class="fa fa-user-alt"></i> <i>Offline</i></span>
                        {% endif %}
                        <span id="logout"><a href="{{url_for('customerlogout')}}"><i class="fa fa-sign-out"></i> Logout</a></span>
                    </div>

                    <div class="col-md-12" id="profilebottom">
                        <span id="settings" class="generalface2"><a href="#"><i class="fa fa-cog"></i> Settings</a></span>
                        <span id="edit" onclick="divchange4()" class="generalface2"><a href="#"><i class="fas fa-user-edit"></i> Edit</a></span>
                    </div>
                    <div class="col-md-12">
                        <p class="mt-3 mb-3 generalface2" id="appointment"><a href="{{url_for('book_appointment')}}"><span class="m-1 p-1" id="createpost"><i class="fas fa-calendar"></i> Book Appointment</a></p>
                    </div>
                </div>
            </div>
            <div  id="divbody">
                <div class="row">
                    <div class="col-md-12 mt-3 mb-3 generalface2" id="Sameprofile" style="display:none">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/static/images/profile/customer/{{cus.cust_pic}}" alt="{{cus.cust_fname}}" width="100px" class=" img img-fluid p-1">
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-4 mt-3 mb-3">
                                    <label><b>First Name:</b></label>
                                    <p>{{cus.cust_fname}}</p>
                                </div>
                                <div class="col-md-4 mt-3 mb-3">
                                    <label><b>Last Name:</b></label>
                                    <p>{{cus.cust_lname}}</p>
                                </div>
                                <div class="col-md-4 mt-3 mb-3">
                                    <label><b>Gender:</b></label>
                                    <p>{{cus.cust_gender}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mt-3 mb-3">
                                    <label><b>Email:</b></label>
                                    <p>{{cus.cust_email}}</p>
                                </div>
                                <div class="col-md-4 mt-3 mb-3">
                                    <label><b>Mobile No:</b></label>
                                    <p>{{cus.cust_phone}}</p>
                                </div>
                                <div class="col-md-4 mt-3 mb-3">
                                    <label><b>State:</b></label>
                                    <p>{{cus.stateobj.state_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mt-3 mb-3">
                                    <label><b>L.G.A:</b></label>
                                    <p>{{cus.lgaobj.lga_name}}</p>
                                </div>
                                <div class="col-md-4 mt-3 mb-3">
                                    <label><b>Contact Address:</b></label>
                                    <p>{{cus.cust_address}}</p>
                                </div>
                            </div>
                            
                    </div>
                    <div class="col-md-12 mt-3 mb-3 generalface2" id="Samelike" style="display:none">
                        <div class="row">
                            {% if mylike %}
                                {% for like in mylike.items %}
                                <div class="col-md-2 m-2" style="background-color: rgb(231, 80, 168); padding: 4px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; ">    
                                <div>
                                    {#<span style="font-size: 10px; padding: 4px;">{{like.like_date.strftime('%d-%m-%Y %H:%M:%S')}}</span><br>#}
                                    <div class="text-center mt-2">
                                    <a href="/post/{{like.posts.post_id}}/">
                                    <span ><img src="/static/images/postpic/{{like.posts.imagepostobj[0].image_url}}" alt="{{like.posts.imagepostobj.image_name}}" class="img img-fluid" style="height: 150px !important; width:fit-content"></span><br>
                                    <span style="font-size:12px;"><b>{{like.posts.post_title|title}}</b></span>
                                    </a>
                                    </div>
                                </div>
                                    
                                </div>
                                {% endfor %}
                                <p class="text-center mt-3 mb-3"><a href="{{url_for('like_list')}}">Load more</a></p>

                                <!-- pagination links -->
                            <!-- end pagination -->
                            {% else %}
                                <div class="col-md-12 text-center">
                                    <span>You haven't like any post. Attempt to like a post today.</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 mt-3 mb-3 generalface2" id="Sameunlike" style="display:none">
                        <div class="row">
                            
                            <div class="col-md-12 text-center">
                                <h4>Appointment Details</h4>
                            </div>
                            <div class="row">
                            {% if getbk %}
                            {% for bk in getbk.items %}
                            <div class="col-md-3">                           
                                <span class="card m-2 p-2">
                                    <p><span>Your appointment with <strong> {{bk.desibaobj.desi_businessName}} </strong>
                                    {% if bk.ba_status == 'accept' or bk.ba_status == 'completed'%}
                                        was <strong> accepted. </strong>You can reach out at <strong> {{bk.desibaobj.desi_phone}} </strong> to makeup decisions.
                                    {% elif bk.ba_status == 'decline' %}
                                        was <strong> declined. </strong><br> Reason: <br> {{bk.ba_reason}} <br> Click <a href="{{url_for('designers')}}" class="text-primary">Designers</a> to view list of designers and book here <a href="{{url_for('book_appointment')}}" class="text-primary">Book Appointment</a>
                                    {% else %}
                                        still <strong>{{bk.ba_status}}.</strong> Kindly book another if urgent. Click <a href="{{url_for('book_appointment')}}" class="text-primary">Book Appointment</a> to book now.
                                    {% endif %}
                                    </span></p>
                                    <p><span><strong>Booking Date:</strong></span> <span style="font-size: 12px;">{{bk.ba_bookingDate}}</span></p>
                                    <p><span><strong>Booking Time:</strong></span> <span style="font-size: 12px;">{{bk.ba_bookingTime}}</span></p>
                                    <p><span><strong>Collection Date:</strong></span> <span style="font-size: 12px;">{{bk.ba_collectionDate}}</span></p>
                                    <p><span><strong>Collection Time:</strong></span> <span style="font-size: 12px;">{{bk.ba_collectionTime}}</span></p>

                                    {% if bk.ba_status == 'accept' and bk.ba_paystatus=='pending' %}
                                        <div class="col-md-12">
                                            <p style="background-color: rgb(219, 8, 8); padding: 2px; color:#fff; margin: 2px; text-align: center;">If negotiation is sealed, kindly make payment below</p>
                                            <span class="m-2 p-2 btn btn-danger"><a href="{{url_for('custpayment', id=bk.ba_id)}}" style="color:white"> Make Payment</a></span>
                                        </div>
                                    {% elif bk.ba_status == 'accept' and bk.ba_paystatus=='paid' %}
                                        <div class="col-md-12">
                                            <span class="m-2 p-2 text-primary btn">Payment completed </span>
                                        </div>
                                    {% elif bk.ba_status == 'completed' and bk.ba_custstatus =='not collected' %}
                                        <div class="col-md-12">
                                            <span class="m-2 p-2 btn btn-danger"><a href="{{url_for('confirm_delivery', id=bk.ba_id)}}" style="color:white"> Confirm Delivery</a></span>
                                        </div>

                                    {% elif bk.ba_custstatus =='collected' and bk.ba_status == 'completed' and bk.ba_paystatus=='pending' or bk.ba_paystatus=='failed' %}
                                        <div class="col-md-12">
                                            <p>Your payment is either pending or failed</p>
                                            <span class="m-2 p-2 text-primary btn"><a href="{{url_for('custpayment', id=bk.ba_id)}}">Try again</a></span>
                                        </div>
                                    {% elif bk.ba_custstatus =='collected' and bk.ba_status == 'completed' and bk.ba_paystatus=='paid' %}
                                        <div class="col-md-12">
                                            <span class="m-2 p-2 text-primary btn">Task completed </span>
                                        </div>
                                    
                                    {% endif %}
                                </span>                               
                            </div>
                            {% endfor %}
                            <p class="text-center mt-3 mb-3"><a href="{{url_for('appoint')}}">Load more</a></p>
                            <!-- pagination links -->
                            
                            {% else %}
                            <div class="col-md-12 text-center">
                                <span>You have no appointment. Click <a href="{{url_for('book_appointment')}}" class="text-primary">Book Appointment</a> to book now</span><br>
                                <span>To view list of designers click <a href="{{url_for('designers')}}" class="text-primary">Designers</a> </span>
                            </div>
                            {% endif %}
                            </div>
                        </div> <!--end of appointment details-->
                    </div>
                    <div class="col-md-12 mt-3 mb-3 generalface2" id="editprofile" style="display:none">
                        <h3>Edit Profile</h3>
                        
                            <form action="{{url_for('customerProfile')}}" method="POST">
                                <div class="row">
                                    <div class="col-md-6 mt-3 mb-3">
                                        <label><b>First Name:</b></label>
                                        <input type="text" name="fname" value="{{cus.cust_fname}}" class="form-control" >
                                    </div>
                                    <div class="col-md-6 mt-3 mb-3">
                                        <label><b>Last Name:</b></label>
                                        <input type="text" name="lname" value="{{cus.cust_lname}}" class="form-control" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-3 mb-3">
                                        <label><b>Email:</b></label>
                                        <input type="email" name="email" value="{{cus.cust_email}}" class="form-control" >
                                    </div>
                                    <div class="col-md-6 mt-3 mb-3">
                                        <label><b>Mobile No:</b></label>
                                        <input type="text" name="phone" value="{{cus.cust_phone}}" class="form-control" >
                                    </div>
                                    <div class="col-md-6 mt-3 mb-3">
                                        <label><b>Contact Address:</b></label>
                                        <input type="text" name="address" value="{{cus.cust_address}}" class="form-control" >
                                    </div>
                                </div>
                                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                                <div class="col-md-12">
                                    <button type='submit' class="form-control mt-3 mb-3 btn btn-secondary">Update</button>
                                </div>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}