{% extends 'user/base.html' %}

{% block title %}
F.A.Q | Styleit
{% endblock %}

{% block content %}
<div class="container-fluid mt-2 mb-2">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Why Styleit Africa?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>Styleit Africa is a B2C social networking platforms for professional fashionistas. It is a home where user meet with professional designers in all forms of fashion world such as tailors, hair and hairstyles, cobblers, belt, hat and bags designers including bangles. 
                    </p></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Who is a Creators?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>A creator is a professional fashionista who render a professional services to a client who needs personal brand wears for his or her next occasion. 
                    </p></div>
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Who is a Clients?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>A client is a user who requested for the services of a creator in exchange for money and quality product design to suit his/her needs.
                    </p></div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                        How will I receive payment?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>Payment are made to creators on completion and delivery of services rendered. Ensure to have your client payment reference number handy incase there is a delay in payment. <br><b>Note:</b> For complaint on delayed payment after delivery send email to <a href="mailto:support@styleit.Africa">Admin</a>.
                    </p></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                        Can I pay offline?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>No, clients are advice never to agree to offline payment. All payment should be done on the platform. This will prevent clients from been scammed by an unauthorized account. <br><b>Note:</b> A client that engage in an offline payment or transaction and falls victim of scam shouldn’t in anyway callout the organization on any social media nor tag the organization a scam entity hence such individuals will be prosecuted. 
                    </p></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                        Why should I pay online?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>All payments should be carried out online to prevent been scammed by an imposter and fraudsters.</p></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapseThree">
                        How can I get a refund of service not rendered?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>If service not rendered send a mail stating your request in detail to support@styleit.africa.</p></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapseThree">
                        Can I get a refund for a poor service delivery?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>No refund for a service delivery so far your service have been rendered. You are advise to book creators within your locality so you can have accurate measurements, judge creators skills and monitor the progress of your outfits.</p></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="accordion-item col-md-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapseThree">
                        How can I prevent the scandal of What I order vs what I got?
                    </button>
                </h2>
            </div>
            <div class="col-md-9">
                <div id="flush-collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>Booking creators of fashion wears within your locality will enable you to have access to the office and confirm the genuineness and professionalism of the creators skills.</p></div>
                </div>
            </div>
        </div>
        
    </div>

</div>
{% endblock %}