{% extends 'user/base.html' %}

{% block title %}
    Styleit|Login
{% endblock %}

{% block content %}
<div class="contain-fluid">
    <div class="row">
        <div class="col-md-1 mt-3 mb-3"></div>
        <div class="col-md-4 offset-md-1 mt-3 mb-3" >
            <div class="head mt-3 mb-3 text-center" id="logininnerbox1">
                <h1 class="mt-3 mb-3 text-light generalface2" style="font-size:xx-large">Creator's Login</h1>
                <hr class="hr text-center">
                <p class="btn mt-3 mb-3" style="font-size:small; background-color:#FF617C; height: 38px; width:100px; border-radius: 20%;"><a href="{{url_for('designerLogin')}}" class="generalface2" style="color: #ffffff;">Login Here</a></p>
            </div>
        </div>
        <div class="col-md-4 offset-md-1 mt-3 mb-3">
            <div class="head mt-3 mb-3 text-center" id="logininnerbox2">
                <h1 class="mt-3 mb-3 text-light generalface2" style="font-size:xx-large">Client's Login</h1>
                <hr class="hr text-center">
                <p class="btn mt-3 mb-3" style="font-size:small; background-color:#FF617C; height: 38px; width:100px; border-radius: 20%;"><a href="{{url_for('customerLogin')}}" class="generalface2" style="color: #ffffff;">Login Here</a></p>
            </div>
        </div>
        <div class="col-md-1 mt-3 mb-3"></div>
    </div>
</div>
{% endblock %}