{% extends 'user/base.html' %}

{% block title %}
Styleit | search
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-3 mb-3">
        {% if wordsearch.items %}
            {% for wo in wordsearch.items %}
            <div class="row">
                <div class="col-md-6">                    
                    <a href="/designer/{{wo.desi_id}}/"><span><img src="/static/images/profile/designer/{{wo.desi_pic}}/" alt="{{wo.desi_businessName}}" class="img-fluid"></span></a>
                </div>
                <div class="col-md-6">
                    <p><a href="/designer/{{wo.desi_id}}/">   
                    <span>{{wo.desi_businessName}} </span><br>
                    <span>{% if wo.desi_status %} Actively Online {% endif %} </span><br>
                    <span>{{wo.stateobj2.state_name}}</span><br>
                    <span>{{wo.lgaobj2.lga_name}}</span><br>
                    <a href="{{url_for('book_appointment')}}" class="btn btn-danger">Book Me</a>

                    </a></p>
                </div>
            </div>
            
            <!-- pagination links -->
            <div class="text-center mt-3">
                <a href="{{url_for('desisearch', page=wordsearch.prev_num)}}" class="btn btn-outline-primary {% if wordsearch.page ==  1 %} disabled {% endif %}">&laquo;</a>
                <!-- looping through the number of pages to display a link for each -->
                {% for page_num in wordsearch.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

                {% if page_num %}
                <!-- check for active page and set the link to active -->
                    {% if wordsearch.page == page_num %}
                    <a href="{{url_for('desisearch', page=page_num)}}" class="btn btn-outline-dark">{{page_num}}</a>
                    {% else %}
                    <a href="{{url_for('desisearch', page=page_num)}}" class="btn btn-outline-dark">{{page_num}}</a>
                    {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %}
                <a href="{{url_for('desisearch', page=wordsearch.next_num)}}" class="btn btn-outline-primary {% if wordsearch.page ==  wordsearch.pages %} disabled {% endif %}">&raquo;</a>
                <p class="text-right mt-3">Showing Page {{wordsearch.page}} of {{wordsearch.pages}}</p>
            </div>
            <!-- end pagination -->
            {% endfor %}
        {% else %}
            <p class="text-center fs-3">...Opps! No search found.</p><p class="text-center">Click <a href="{{url_for('home')}}">Home</a> to return to homepage</p>
        {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}