{% extends 'user/base.html' %}

{% block title %}
Styleit | search
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-3 mb-3">
        {% if wordsearch.items %}
            {% for wo in wordsearch.items %}
            <div class="row">
                <div class="col-md-6 mt-2 mb-2">
                    {% for x in wo.imagepostobj[0:1] %}
                    <span><img src="/static/images/postpic/{{x.image_url}}/" alt="{{x.image_name}}" class="img-fluid"></span>
                    {% endfor %}
                </div>
                <div class="col-md-6 mt-2 mb-2">
                    <p class="mb-2 mt-2"><a href="/post/{{wo.post_id}}/">   
                    <span><span>{{wo.post_date.strftime('%d-%m-%Y %H:%M:%S')}}</span><br>
                    <span>{{wo.post_title}} </span><br>
                    <span>{{wo.post_body| truncate(50)}}</span></span><br>
                    </a></p>
                </div>
            </div>
            {% endfor %}
            
            <!-- pagination links -->
            <div class="text-center mt-3">
                <a href="{{url_for('search', page=wordsearch.prev_num)}}" class="btn btn-outline-primary {% if wordsearch.page ==  1 %} disabled {% endif %}">&laquo;</a>
                <!-- looping through the number of pages to display a link for each -->
                {% for page_num in wordsearch.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

                {% if page_num %}
                <!-- check for active page and set the link to active -->
                    {% if wordsearch.page == page_num %}
                    <a href="{{url_for('search', page=page_num)}}" class="btn btn-outline-dark">{{page_num}}</a>
                    {% else %}
                    <a href="{{url_for('search', page=page_num)}}" class="btn btn-outline-dark">{{page_num}}</a>
                    {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %}
                <a href="{{url_for('search', page=wordsearch.next_num)}}" class="btn btn-outline-primary {% if wordsearch.page ==  wordsearch.pages %} disabled {% endif %}">&raquo;</a>
                <p class="text-right mt-3">Showing Page {{wordsearch.page}} of {{wordsearch.pages}}</p>
            </div>
            <!-- end pagination -->
        {% else %}
            <p class="text-center fs-3">...Opps! No search found.</p><p class="text-center">Click <a href="{{url_for('home')}}">Home</a> to return to homepage</p>
        {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}