{% extends 'admin/base.html' %}
{% block title %}
Styleit | Designer Profile
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <span>
                    {% with m = get_flashed_messages(with_categories=true) %}
                        {% for c, i in m %}
                            {% if c == 'success' %}
                            <P class="alert alert-success fw-4">{{i}} </P>
                            {% elif c == 'warning' %}
                            <P class="alert alert-warning fw-4">{{i}} </P>
                            {% else %}
                            <P class="alert alert-danger fw-4">{{i}} </P>
                            {% endif %}
                        {% endfor %} 
                    {% endwith %}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 mt-3 mb-3" id="alldesigner">
                        <div class="row">
                            <div class="col-md-12" style="display:flex; flex-direction: row; background-color: rgb(77, 10, 141);">
                                
                                <div>
                                    <img src="/static/images/profile/designer/{{design.desi_pic}}" alt="{{design.desi_businessName}}"  style="width:50; height:50; border-radius: 50%; object-fit:cover;" width="150">
                                </div>
                                
                                <div class="p-2 text-center" style="line-height:2; color:white"> 
                                <p class="fs-1"><b>{{design.desi_businessName}}</b></p>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">                                
                                <p>First Name: <b>{{design.desi_fname}}</b></p>
                                <p>Last Name: <b>{{design.desi_lname}}</b></p>
                                <p>State: <b>{{design.stateobj2.state_name}}</b></p>
                                <p>L.G.A: <b>{{design.lgaobj2.lga_name}}</b></p>
                            </div>
                            <input type="hidden" name="desi_id" id="desi_id" value="{{design.desi_id}}">
                            {% if design.desi_access=='actived' %}
                            <span class="btn btn-success" id="deactivate">Deactivate</span>
                            {% elif design.desi_access=='deactived' %}
                            <span class="btn btn-success" id="activate">Activate</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}