{% extends 'admin/base.html' %}
{% block title %}
Styleit | All Customers
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    {% for desi in design.items %}
                    <div class="col-md-12 mt-3 mb-3" id="alldesigner">
                        <div class="row">
                            <div class="col-md-5"><a href="/customers/{{desi.cust_id}}">
                                <img src="/static/images/profile/customer/{{desi.cust_pic}}" alt="{{desi.cust_fname}}" class="img-fluid" width="150">  
                            </a></div>
                            <div class="col-md-7 mt-3"><a href="/customers/{{desi.cust_id}}">
                                <p><b>{{desi.cust_fname}}</b> <b>{{desi.cust_lname}}</b></p>
                                {% if desi.lgaobj %}
                                    <p>L.G.A: {{desi.lgaobj.lga_name}}</p>
                                {% else %}
                                    <p>City: {{desi.cust_city}}</p>
                                {% endif %}
                                {% if desi.stateobj %}
                                    <p>State: {{desi.stateobj.state_name}}</p>
                                {% else %}
                                    <p>State: {{desi.cust_state}}</p>
                                {% endif %}                                
                                <p>Country: {{desi.custcountry.country_name}}</p>
                                {% if desi.cust_status=='actived' %}
                                    <p>Status: {{desi.cust_status}}</p>
                                {% else %}
                                    <p>Status: {{desi.cust_status}}</p>
                                {% endif %}
                            </a></div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- pagination links -->
                    <div class="text-center mt-3">
                        <a href="{{url_for('admin_customers', page=design.prev_num)}}" class="btn btn-outline-primary {% if design.page ==  1 %} disabled {% endif %}">&laquo;</a>
                        <!-- looping through the number of pages to display a link for each -->
                        {% for page_num in design.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

                        {% if page_num %}
                        <!-- check for active page and set the link to active -->
                            {% if design.page == page_num %}
                            <a href="{{url_for('admin_customers', page=page_num)}}" class="btn btn-outline-dark">{{page_num}}</a>
                            {% else %}
                            <a href="{{url_for('admin_customers', page=page_num)}}" class="btn btn-outline-dark">{{page_num}}</a>
                            {% endif %}
                        {% else %}
                        ...
                        {% endif %}
                        {% endfor %}
                        <a href="{{url_for('admin_customers', page=design.next_num)}}" class="btn btn-outline-primary {% if design.page ==  design.pages %} disabled {% endif %}">&raquo;</a>
                        <p class="text-right mt-3">Showing Page {{design.page}} of {{design.pages}}</p>
                    </div>
                    <!-- end pagination -->
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}