<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta content="5"; url="http://127.0.0.1:8080/trending/" http-equiv="refresh"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- External stylesheet-->
		<link href="{{url_for('static', filename='css/styleit.css')}}" rel="stylesheet" type="text/css">
    <!-- Share on cdn -->
    <link href="https://cdn.jsdelivr.net/npm/shareon@2/dist/shareon.min.css" rel="stylesheet">
		<!-- bootstrap -->
		<link href="{{url_for('static', filename='css/css/bootstrap.css')}}" rel="stylesheet" type="text/css">

		<!-- metas-->
		<meta charset="utf-8">
		<meta name="description" content="styleit your No1 fashion hub in Nigeria">
		<meta name="author" content="styleit Africa">
		<meta name="keywords" content="styleit, best fashion but in Nigeria, tailor, fashion, fashionista, owanbe, ceremonies, african styles, international styles, designer, suit wears, female dress, male wears, agbada, buba, sokoto, abaya">
		
		<!--facebook meta integration-->
		<meta property="og:https://www.styleit.africa" content="Styleit is a home of professional fashionista"/>
		<meta property="og:https://www.styleit.africa/home" content="website"/>
		<meta property="og:image" content="images/ceo.jpg"/>
		<meta property="og:image-width" content="400"/>
		<meta property="og:image-height" content="300"/>
		<meta property="og:locale:alternative" content="fr_FR"/>
		<meta property="og:url" content="https://www.styleit.africa"/>
		
		<!-- twitter meta integeration-->
		<meta name="twitter.www.styleit.africa" content="@styleitafrica"/>
		<meta name="twitter.title" content="@styleitafrica"/>
		<meta name="twitter.card" content="styleit is your No1 home of professional fashionista"/>
		<meta name="twitter.description" content="Styleit, best fashion but in Nigeria, tailor, fashion, fashionista, owanbe, ceremonies, african styles, international styles, designer, suit wears, female dress, male wears, agbada, buba, sokoto, abaya"/>
		<meta name="twitter.url" content="https://www.styleit.africa"/>
		
		<!-- fav icon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
		<link rel="manifest" href="/static/images/site.webmanifest">

		<!-- font awesome -->
		<link href="{{url_for('static', filename='fa/css/all.min.css')}}" rel="stylesheet">


		<!-- jquery animation-->
		<link href="{{url_for('static', filename='css/css/animate.min.css')}}" rel="stylesheet">

		<!-- internal stylesheet-->
		<style type="text/css">
			
		
		</style>
    
</head>

<body id="body">
    <!-- header section -->
<div class="container-fluid">
    <div class="container-fluid" id="header">
        <header>
            <div class="row">
                <div class="col-md-2 mt-5 mb-5" id="logo">
                    <h1 id="logoname">Styleit</h1>
                </div>
                <div class="col-md-10 mt-5 b-5" id="banner">
                    <img src="{{url_for('static', filename='images/girl.jpg')}}" alt="girl fashion" width="100%" height="200">
                </div>
            </div>
        </header>
    </div>
</div>
<div class="container-fluid sticky-top">
  <!-- navigation section -->
  <div class="row mt-2" id="navi">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if session.get('admin') != None: %}
              <form class="d-flex" id="search" method="POST" action="{{url_for('admin_search')}}">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <button class="btn btn-outline-success me-2" type="submit">Search</button>
                <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
              </form>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('admin_trending')}}">Today's Trend</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('admin_designers')}}">Creatorss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('admin_customers')}}">Customers</a>
              </li>
              {% elif session.get('superadmin') != None: %}
              <form class="d-flex" id="search" method="POST" action="{{url_for('admin_search')}}">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <button class="btn btn-outline-success me-2" type="submit">Search</button>
                <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
              </form>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('admin_trending')}}">Today's Trend</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('admin_designers')}}">Creators</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('admin_customers')}}">Customers</a>
              </li>
              {% endif %}
              </ul>
              
              <ul class="navbar-nav">
                {% if session.get('admin') != None: %}
                {#<li class="nav-item">
                  <a class="nav-link" href="#">Welcome! <img src="/static/images/profile/customer/{{adm.admin_pic}}" alt="{{adm.admin_fname}}" width="25px" class="img rounded-circle">{{cus.cust_fname}}</a>
                </li>#}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('dashboard')}}"><img src="/static/images/profile/admin/{{adm.admin_pic}}" width="25px" class="img rounded-circle">{{adm.admin_fname}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('admin_logout')}}">Logout</a>
                </li>
                {% elif session.get('superadmin') != None: %}
                {#<li class="nav-item">
                  <a class="nav-link" href="#">Welcome! <img src="/static/images/profile/superadmin/{{spa.spadmin_pic}}" alt="{{spa.spadmin_fname}}" width="25px" class="img rounded-circle">{{spa.spadmin_fname}}</a>
                </li>#}
                
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('dashboard')}}"><img src="/static/images/profile/superadmin/{{spa.spadmin_pic}}" width="25px" class="img rounded-circle">{{spa.spadmin_fname}} </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('admin_logout')}}">Logout</a>
                </li>
                {% else %}
                  {#<li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('admin_home')}}">Home</a>
                  </li>#}
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
  </div>
</div>  

{% block content %}


{% endblock %}

    <!-- footer section -->
<div class="container-fluid">
  <div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-md-3 m-2 text-center" id="socials">
          <p class="text-center text-dark generalface2"><b><i>Connect</i></b><hr></p>
          <span class="card-text fs-1"><a href="#"><i class="fab fa-facebook"></i></a></span>
					<span class="card-text fs-1"><a href="#"><i class="fab fa-twitter"></i></a></span>
					<span class="card-text fs-1"><a href="#"><i class="fab fa-linkedin"></i></a></span>
					<span class="card-text fs-1"><a href="#"><i class="fab fa-instagram"></i></a></span>
        </div>
          
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-end generalface2">
            <p><b><i>Designed by: AdemolaCode &copy; 2022 </i></b></p>
        </div>
    </div>


    <footer>
      <!-- jquery -->
        <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
        <!-- bootstrap js bundle -->
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <!-- share on js bundle -->
        <script src="https://cdn.jsdelivr.net/npm/shareon@2/dist/shareon.iife.js" defer init></script>
        <!-- socketio js bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>

        <!-- js script -->
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
             $('#ban').click(function(){
              var postid = $('#postid').val();
              var csrf = "{{ csrf_token() }}";
              data3send = {"postid":postid, "csrf_token":csrf}
              $.ajax({
                url:'/ban/',
                data:data3send,
                type:'POST',
                success:function(msg){
                  console.log(msg);
                  location.reload(true);
                }
              });
             }); 

             $('#trash').click(function(){
              var postid = $('#postid').val();
              var csrf = "{{ csrf_token() }}";
              data3send = {"postid":postid, "csrf_token":csrf}
              $.ajax({
                url:'/trash/',
                data:data3send,
                type:'POST',
                success:function(msg){
                  console.log(msg);
                  location.reload(true);
                }
              });
             });
             
             
                    
             //deactivating dessigner profile
             $('#deactivate').click(function(){
               var desi_id=$('#desi_id').val();
               var csrf = "{{ csrf_token() }}";
               data2 = {"desi_id":desi_id, "csrf_token":csrf}
               $.ajax({
                url:'/deactivat/',
                data:data2,
                type:'POST',
                success:function(message){
                  console.log(message);
                  location.reload(true);
                }
              });
             });

             //activating dessigner profile
             $('#activate').click(function(){
              var desi_id=$('#desi_id').val();
              var csrf = "{{ csrf_token() }}";
              data2 = {"desi_id":desi_id, "csrf_token":csrf}
              $.ajax({
               url:'/activat/',
               data:data2,
               type:'POST',
               success:function(message){
                 console.log(message);
                 location.reload(true);
               }
              });
            });

            //deactivating customer profile
            $('#deactivate2').click(function(){
              var cust_id=$('#cust_id').val();
              var csrf = "{{ csrf_token() }}";
              data2 = {"cust_id":cust_id, "csrf_token":csrf}
              $.ajax({
               url:'/deactivat/',
               data:data2,
               type:'POST',
               success:function(message){
                 console.log(message);
                 location.reload(true);
               }
             });
            });

            //activating customer profile
            $('#activate2').click(function(){
             var cust_id=$('#cust_id').val();
             var csrf = "{{ csrf_token() }}";
             data2 = {"cust_id":cust_id, "csrf_token":csrf}
             $.ajax({
              url:'/activat/',
              data:data2,
              type:'POST',
              success:function(message){
                console.log(message);
                location.reload(true);
              }
             });
           });
             
             //activating signup
             $('#agree1').click(function(){
              var dis = $(this).prop('checked')
              if(dis == false){
                $('#btn1').attr('disabled', 'disabled')
              }else{
               $('#btn1').removeAttr('disabled')
              }
            })

            //searching payment by ref no
            $('#refbtn').click(function(){
              const searchref = $('#searchref').val();
              var csrf = "{{csrf_token()}}";
              var data = {"searchref":searchref, "csrf_token":csrf}

              $.ajax({
                url:'/searchref/',
                data:data,
                type:'POST',
                success:function(message){
                  
                  if(message.message){
                    value=message.message
                    var difa = `<span class="p-3">
                      <p style="font-size:12px;">${value}</p>                                                       
                  </span>`
                    $('#displaysearch').html(difa);
                    console.log(difa)
                  }else{
                    rediif= JSON.parse(message);
                    const value1 = rediif.desipaymentobj;
                    const value2 = rediif.payment_amount;
                    const value3 = rediif.payment_transdate;
                    const value4 = rediif.payment_status;
                    const value5 = rediif.payment_transNo;
                    const tvalue1 = rediif.desitpayobj;
                    const tvalue2 = rediif.custtpayobj;
                    const tvalue3 = rediif.custtpayobj2;
                    const tvalue4 = rediif.tpay_amount;
                    const tvalue5 = rediif.tpay_baid;
                    const tvalue6 = rediif.tpay_status;
                    const tvalue7 = rediif.tpay_transNo;
                    const tvalue8 = rediif.tpay_transdate;
                    const tvalue9 = rediif.tpaybaobj;
                    const tvalue10 = rediif.tpaybaobj2;
                    const apfund = '/approve/';


                    if(value1 && value2 && value3 && value4 && value5){
                      var difa = `<span class="p-3">
                        <p style="font-size:12px;"> Business Name: ${value1}</p>
                        <p style="font-size:12px;">Amount Paid: ${value2}</p>
                        <p style="font-size:12px;">Payment Date: ${value3}</p>
                        <p style="font-size:12px;">Payment Status: ${value4}</p>
                        <p style="font-size:12px;">Ref No: ${value5}</p>                                                            
                    </span>`
                      $('#displaysearch').html(difa);
                      console.log(difa)
                    }else{
                      var difa = `<span class="p-3">
                        <p style="font-size:12px;"> Business Name: ${tvalue1}</p>
                        <p style="font-size:12px;"> Payment by: ${tvalue2} ${tvalue3}</p>                        
                        <p style="font-size:12px;">Amount Paid: ${tvalue4}</p>
                        <p style="font-size:12px;">Booked Appointment ID: ${tvalue5}</p>
                        <p style="font-size:12px;">Payment Date: ${tvalue8}</p>
                        <p style="font-size:12px;">Payment Status: ${tvalue6}</p>
                        <p style="font-size:12px;">Ref No: ${tvalue7}</p>
                        <p style="font-size:12px;">Booking Payment Status: ${tvalue9}</p>
                        <p style="font-size:12px;">Collection Status: ${tvalue10}</p>
                    </span>`
                    if (tvalue10==='collected'){
                      difa += `<p> <a href='${apfund}${tvalue7}/'> Approve Payment </a> </p>
                              <input type='hidden' value='${tvalue7}' id='refno' name='refno'>`
                    }
                      $('#displaysearch').html(difa);
                      console.log(difa)
                    }
                    
                    }
                }
              });
            });

          })

//Javascript to change multiple divs       
var alltred=document.getElementById("alltrend");
var tred=document.getElementById("tred");
var allappoint=document.getElementById('allappoint');
var appoint=document.getElementById('appoint');
var allpayment=document.getElementById('allpayment');
var payment=document.getElementById('payment');
var allsub=document.getElementById('allsub');
var sublist=document.getElementById('sublist');
var allreport=document.getElementById('allreport')
var report=document.getElementById('report')

alltred.addEventListener("click", function(){
  if(tred.style.display==='none'){
    tred.style.display='block';
    appoint.style.display='none';
    payment.style.display='none';
    sublist.style.display='none';
    report.style.diplay='none';
  }else{
    if(tred.style.display==='block'){
      tred.style.display='none';
    }
  };
});

allappoint.addEventListener("click", function(){
  if(appoint.style.display==='none'){
    appoint.style.display='block';
    tred.style.display='none';
    payment.style.display='none';
    sublist.style.display='none';
    report.style.diplay='none';
  }else{
    if(appoint.style.display==='block'){
      appoint.style.display='none';
    }
  };
});

allpayment.addEventListener("click", function(){
  if(payment.style.display==='none'){
    payment.style.display='block';
    tred.style.display='none';
    appoint.style.display='none'; 
    sublist.style.display='none';
    report.style.diplay='none';
  }else{
    if(payment.style.display==='block'){
      payment.style.display='none';
    }
  };
});

allsub.addEventListener("click", function(){
  if(sublist.style.display==='none'){
    sublist.style.display='block';
    payment.style.display='none';
    tred.style.display='none';
    appoint.style.display='none';
    report.style.diplay='none';
  }else{
    if(sublist.style.display==='block'){
      sublist.style.display='none';
    }
  };
});

allreport.addEventListener("click", function(){
  if(report.style.display==='none'){
    report.style.display='block';
    sublist.style.display='none';
    payment.style.display='none';
    tred.style.display='none';
    appoint.style.display='none';
  }else{
    if(report.style.display==='block'){
      report.style.display='none';
    }
  }
})




function comban(id){
  var comid=id;
  var csrf = '{{ csrf_token() }}';
  data3send = {"comid":comid, "csrf_token":csrf}
  console.log(data3send)
  $.ajax({
    url:'/ban/',
    data:data3send,
    type:'POST',
    success:function(msg){
      console.log(msg);
      location.reload(true);
    }
  });
}

function comtrash(id){
  var comid=id;
  var csrf = '{{ csrf_token() }}';
  data3send = {"comid":comid, "csrf_token":csrf}
  console.log(data3send)
  $.ajax({
    url:'/trash/',
    data:data3send,
    type:'POST',
    success:function(msg){
      console.log(msg);
      location.reload(true);
    }
  });
}


            
      </script>
    </footer>
  </div>
</div>
  <!-- footer ends -->
</body>
</html>
